In [2]:
import mysql.connector 
mydb=mysql.connector.connect(host="localhost",user="root",passwd="root")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000259F378E1C8>

In [2]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="")
mycursor=connection.cursor()

mycursor.execute("CREATE DATABASE THEATRE")

1

In [3]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")

mycursor=connection.cursor()

mycursor.execute("Create Table Firstclass(Movie char(30), Availabletickets int, Cost int,Showtime TIME,Language varchar(10))")

0

In [5]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")

mycursor=connection.cursor() 
sql = "INSERT INTO Firstclass (Movie, Availabletickets, Cost, Showtime, Language) VALUES (%s,%s,%s,%s,%s)"
val = [
    ("MASTER","64","200","09:00:00/12:00:00/15:30:00/18:00:00/21:30:00","Tam/Tel/Kan"),
    ("SooraraiPotru","88","180","12:00:00/15:30:00/18:00:00/21:30:00","Tam/Tel"),
    ("TENET","45","220","15:30:00/18:00:00","Eng/Tam"),
    ("Avatar-II","97","230","10:00:00/12:00:00/15:30:00/18:00:00","English"),
    ("RRR","75","180","08:00:00/12:00:00/15:30:00/18:00:00/21:30:00","Telugu")
]

mycursor.executemany(sql, val)
connection.commit()
print(mycursor.rowcount, "record(s) inserted.")

5 record(s) inserted.

In [6]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")

mycursor=connection.cursor()

mycursor.execute("Create Table Balcony(Movie char(30), Availabletickets int, Cost int,Showtime TIME,Language varchar(10))")

0

In [8]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")

mycursor=connection.cursor() 
sql = "INSERT INTO Balcony (Movie, Availabletickets, Cost, Showtime, Language) VALUES (%s,%s,%s,%s,%s)"
val = [
    ("MASTER","14","270","18:00:00/21:30:00","Tam/Tel/Kan"),
    ("SooraraiPotru","23","270","15:30:00/18:00:00/21:30:00","Tam/Tel"),
    ("TENET","17","270","15:30:00/18:00:00","Eng/Tam"),
    ("Avatar-II","11","270","10:00:00/12:00:00","English"),
    ("RRR","25","270","15:30:00/18:00:00","Telugu")
]

mycursor.executemany(sql, val)
connection.commit()
print(mycursor.rowcount, "record(s) inserted.")

5 record(s) inserted.

In [9]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")

mycursor=connection.cursor()

mycursor.execute("Create Table BOX(Movie char(30), Availabletickets int, Cost int,Showtime TIME,Language varchar(10))")

0

In [11]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")

mycursor=connection.cursor() 
sql = "INSERT INTO BOX (Movie, Availabletickets, Cost, Showtime, Language) VALUES (%s,%s,%s,%s,%s)"
val = [
    ("MASTER","3","350","18:00:00/21:30:00","Tam/Tel/Kan"),
    ("SooraraiPotru","8","330","15:30:00/18:00:00/21:30:00","Tam/Tel"),
    ("TENET","12","370","15:30:00/18:00:00","Eng/Tam"),
    ("Avatar-II","2","400","10:00:00/12:00:00","English"),
    ("RRR","15","330","15:30:00/18:00:00","Telugu")
]

mycursor.executemany(sql, val)
connection.commit()
print(mycursor.rowcount, "record(s) inserted.")

5 record(s) inserted.

In [14]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor()
mycursor.execute("show tables")
for i in mycursor:
    print(i)

('balcony',)
('box',)
('firstclass',)

In [22]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor()
mycursor.execute("select*from firstclass")
records=mycursor.fetchall()
for i in records:
    print("Movie=",i[0],)
    print("Available Tickets=",i[1],)
    print("Cost=",i[2],)
    print("Showtime=",i[3],)
    print("Language=",i[4],"\n")

Movie= MASTER
Available Tickets= 64
Cost= 200
Showtime= 9:00:00
Language= Tam/Tel/Ka

Movie= SooraraiPotru
Available Tickets= 88
Cost= 180
Showtime= 12:00:00
Language= Tam/Tel

Movie= TENET
Available Tickets= 45
Cost= 220
Showtime= 15:30:00
Language= Eng/Tam

Movie= Avatar-II
Available Tickets= 97
Cost= 230
Showtime= 10:00:00
Language= English

Movie= RRR
Available Tickets= 75
Cost= 180
Showtime= 8:00:00
Language= Telugu

In [21]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor()
mycursor.execute("select*from balcony")
records=mycursor.fetchall()
for i in records:
    print("Movie=",i[0],)
    print("Available Tickets=",i[1],)
    print("Cost=",i[2],)
    print("Showtime=",i[3],)
    print("language=",i[4],"\n")

Movie= MASTER
Available Tickets= 14
Cost= 270
Showtime= 18:00:00
language= Tam/Tel/Ka

Movie= SooraraiPotru
Available Tickets= 23
Cost= 270
Showtime= 15:30:00
language= Tam/Tel

Movie= TENET
Available Tickets= 17
Cost= 270
Showtime= 15:30:00
language= Eng/Tam

Movie= Avatar-II
Available Tickets= 11
Cost= 270
Showtime= 10:00:00
language= English

Movie= RRR
Available Tickets= 25
Cost= 270
Showtime= 15:30:00
language= Telugu

In [30]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor()
mycursor.execute("select*from box")
records=mycursor.fetchall()
for i in records:
    print("Movie=",i[0],)
    print("Available Tickets=",i[1],)
    print("Cost=",i[2],)
    print("Showtime=",i[3],)
    print("language=",i[4],"\n")

Movie= MASTER
Available Tickets= 3
Cost= 350
Showtime= 18:00:00
language= Tam/Tel/Ka

Movie= SooraraiPotru
Available Tickets= 8
Cost= 330
Showtime= 15:30:00
language= Tam/Tel

Movie= TENET
Available Tickets= 12
Cost= 370
Showtime= 15:30:00
language= Eng/Tam

Movie= Avatar-II
Available Tickets= 2
Cost= 400
Showtime= 10:00:00
language= English

Movie= RRR
Available Tickets= 15
Cost= 330
Showtime= 15:30:00
language= Telugu

In [4]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor() 
print("+=+=+=+=+=+=+THEATRE ZONE+=+=+=+=+=+=+")
print("-_-_-_-_-_-_-_-!WELCOME TO THEATRE ZONE!-_-_-_-_-_-_-_-")
print("Available Options:")
print("SIR/MAM")
print("WE KINDLY REQUEST YOU TO MAKE YOUR CHOICE,NOTE: BOOKING COST VARIES ACCORDING TO YOUR PREFERRED CHOICE #MENTIONED BELOW")
print("-> FOR BEST EXPERIENCE WE WOULD PREFER YOU BOX=1:")
print("-> MODERATE VIEW+COMFORT WE WOULD LIKE TO PREFER YOU BALCONY=2:")
print("-> NORMAL EXPERIENCE+COMFORT WE WOULD PREFER YOU FIRST CLASS=3:")
print("1,2,3")
option=int(input("PLEASE ENTER YOUR OPTION:"))
print("")

if option==1:
    mycursor.execute("select*from firstclass")
    records=mycursor.fetchall()
    for i in records:
        print("MOVIE=",i[0],)
        print("AVAILABLE TICKETS=",i[1],)
        print("COST=",i[2],)
        print("SHOWTIME=",i[3],)
        print("LANGUAGE=",i[4],"\n")

elif option==2:
    mycursor.execute("select*from balcony")
    records=mycursor.fetchall()
    for i in records:
        print("MOVIE=",i[0],)
        print("AVAILABLE TICKETS=",i[1],)
        print("COST=",i[2],)
        print("SHOWTIME=",i[3],)
        print("LANGUAGE=",i[4],"\n")

elif option==3:
    mycursor.execute("select*from box")
    records=mycursor.fetchall()
    for i in records:
        print("MOVIE=",i[0],)
        print("AVAILABLE TICKETS=",i[1],)
        print("COST=",i[2],)
        print("SHOWTIME=",i[3],)
        print("LANGUAGE=",i[4],"\n")

+=+=+=+=+=+=+THEATRE ZONE+=+=+=+=+=+=+
-_-_-_-_-_-_-_-!WELCOME TO THEATRE ZONE!-_-_-_-_-_-_-_-
Available Options:
SIR/MAM
WE KINDLY REQUEST YOU TO MAKE YOUR CHOICE,NOTE: BOOKING COST VARIES ACCORDING TO YOUR PREFERRED CHOICE #MENTIONED BELOW
:FOR BEST EXPERIENCE WE WOULD PREFER YOU BOX=1:
:MODERATE VIEW+COMFORT WE WOULD LIKE TO PREFER YOU BALCONY=2:
:NORMAL EXPERIENCE+COMFORT WE WOULD PREFER YOU FIRST CLASS=3:
1,2,3
PLEASE ENTER YOUR OPTION:1

MOVIE= MASTER
AVAILABLE TICKETS= 64
COST= 200
SHOWTIME= 9:00:00
LANGUAGE= Tam/Tel/Ka

MOVIE= SooraraiPotru
AVAILABLE TICKETS= 88
COST= 200
SHOWTIME= 12:00:00
LANGUAGE= Tam/Tel

MOVIE= TENET
AVAILABLE TICKETS= 45
COST= 200
SHOWTIME= 15:30:00
LANGUAGE= Eng/Tam

MOVIE= Avatar-II
AVAILABLE TICKETS= 97
COST= 200
SHOWTIME= 10:00:00
LANGUAGE= English

MOVIE= RRR
AVAILABLE TICKETS= 75
COST= 200
SHOWTIME= 8:00:00
LANGUAGE= Telugu

In [6]:
MOVIE=input("MOVIE NAME FROM THE ABOVE SCREENING MOVIES: ")
TICKETS=int(input("NO OF TICKESTS: "))
CUSTOMERNAME=input("PLEASE ENTER YOUR NAME: ") 
DATE=input('DD/MM/YYYY: ')
SUMMARY_DETAILS_VIA=int(input("PLEASE ENTER YOUR MAIL ID OR MOBILE NO: "))
LANGUAGE=input("PLEASE ENTER YOUR PREFERRED LANGUAGE: ")

MOVIE NAME FROM THE ABOVE SCREENING MOVIES: MASTER
NO OF TICKESTS: 2
PLEASE ENTER YOUR NAME: Jagadheesh
DD/MM/YYYY: 14.11.2020
PLEASE ENTER YOUR MAIL ID OR MOBILE NO: 8989999233
PLEASE ENTER YOUR PREFERRED LANGUAGE: Tamil

In [7]:
import random
import time
print("*************Please wait!!!Your bill is being processed*************")
time.sleep(5)
if option==1:
    bill=TICKETS*200
elif option==2:
    bill=TICKETS*270
elif option==3:
    bill=TICKETS*350
seats=random.randrange(1,100)
print("Your seat numbers are::",seats,"-",seats+TICKETS)
print("Total amount==Rs.",bill)
time.sleep(3)
print("------------------Congratulations!!!-----------\\\\-Your tickets have been booked for", MOVIE,"on",DATE)
print("A message would be sent to your mobile number",SUMMARY_DETAILS_VIA,"Please show it at the ticket booth in front of the theatre")
print("Enjoy your show!!!!!!")

*************Please wait!!!Your bill is being processed*************
Your seat numbers are:: 74 - 76
Total amount==Rs. 400
------------------Congratulations!!!-----------\\-Your tickets have been booked for MASTER on 14.11.2020
A message would be sent to your mobile number 8989999233.0 Please show it at the ticket booth in front of the theatre
Enjoy your show!!!!!!

In [10]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor()
mycursor.execute("CREATE TABLE Snacks(Items varchar(30),Price int(20))")

0

In [11]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor()
sql="INSERT INTO Snacks(Items,Price) VALUES(%s,%s)"
val=[
    ("Soft Drinks","250"),
    ("Icecream","150"),
    ("Popcorn","100"),
    ("Chips","50"),
    ("Samosa","25")
]
mycursor.executemany(sql,val)
connection.commit()
print(mycursor.rowcount, "record(s) inserted.")

5 record(s) inserted.

In [6]:
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor()
mycursor.execute("SELECT* FROM Snacks")
records=mycursor.fetchall()
for i in records:
    print("Items:",i[0],)
    print("Price:",i[1],"\n")

Items: Soft Drinks
Price: 250

Items: Icecream
Price: 150

Items: Popcorn
Price: 100

Items: Chips
Price: 50

Items: Samosa
Price: 25

In [7]:
import time
import pymysql.cursors
connection=pymysql.connect(host="localhost",user="root",port="",password="",database="THEATRE")
mycursor=connection.cursor()
print("*****WELCOME TO OUR CAFETERIA*****")
list1=[]
num=int(input("Number of Snacks that you are going to buy from our Cafeteria: "))
for i in range(1, num+1):
    x=input("Enter the snacks that you want from our Cafeteria: ")
    list1.append(x)
print("Snacks that you entered are:",list1)
time.sleep(3)
bill=0
for i in list1:
    mycursor.execute("SELECT*FROM Snacks")
    records=mycursor.fetchall()
    for j in records:
        if i==j[0]:
            print(j[0],"is available in our Cafeteria")
            bill=bill+j[1]
           
print("***Please wait your bill is on process***")
time.sleep(5)        
print("Your bill is: Rs.",bill)
print("**THANK YOU VISIT AGAIN**")

*****WELCOME TO OUR CAFETERIA*****
Number of Snacks that you are going to buy from our Cafeteria: 10
Enter the snacks that you want from our Cafeteria: chips
Enter the snacks that you want from our Cafeteria: chips
Enter the snacks that you want from our Cafeteria: chips
Enter the snacks that you want from our Cafeteria: chips
Enter the snacks that you want from our Cafeteria: chips
Enter the snacks that you want from our Cafeteria: chips
Enter the snacks that you want from our Cafeteria: chips
Enter the snacks that you want from our Cafeteria: chiips
Enter the snacks that you want from our Cafeteria: chips
Enter the snacks that you want from our Cafeteria: chips
Snacks that you entered are: ['chips', 'chips', 'chips', 'chips', 'chips', 'chips', 'chips', 'chiips', 'chips', 'chips']
***Please wait your bill is on process***
Your bill is: Rs. 0
**THANK YOU VISIT AGAIN**